{% if input_get('id') %}
    <form action="{{ url('ajax/ticket-support/'~ticketSupport.id~'/comment') }}"
        method="post"
        class="form-ajax"
        data-success="ticket_support_success_handle"
        enctype="multipart/form-data">
        <input type="hidden" name="_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ __('Type') }}</label>
                    <input type="text" class="form-control" placeholder="{{ __('Title') }}" disabled value="{{ ticketSupport.type.name }}">
                </div>
                <div class="form-group">
                    <label>{{ __('Title') }}</label>
                    <input type="text" class="form-control" placeholder="{{ __('Title') }}" disabled value="{{ ticketSupport.title }}">
                </div>
                <div class="form-group">
                    <label>{{ __('Content') }}</label>
                    <textarea rows="5" style="width: 100%;" disabled>{{ ticketSupport.content }}</textarea>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{ __('File') }}</label>
                    </div>
                    {% for attachment in ticketSupport.attachments %}
                        <div class="col-md-3">
                            <a href="{{ url('ajax/ticket-support/'~ticketSupport.id~'/'~attachment.id~'/download-attachments')}}"
                                class="download-attachment"
                            >{{ attachment.name }}</a>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="form-group">
                    <h3>{{ __('Comment') }}</h3>
                    {% for comment in ticketSupportComments %}
                        <div class="form-group">
                            <label for="comment">{{ __('Content') }}</label>
                            <textarea id="comment" rows="5" style="width: 100%;" disabled>{{ comment.content }}</textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>{{ __('File') }}</label>
                            </div>
                            {% for attachment in comment.attachments %}
                                <div class="col-md-3">
                                    <a href="{{ url('ajax/ticket-support/'~ticketSupport.id~'/'~attachment.id~'/download-attachments')}}"
                                        class="download-attachment"
                                    >{{ attachment.name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="comment">{{ __('Comment') }}</label>
                    <textarea id="comment" rows="9" style="width: 100%;" name="content" required="">{{ ticketSupport.comment }}</textarea>
                </div>
                <div class="form-group">
                    <label for="files">{{ __('Attachments') }}</label>
                    <input class="form-control" type="file" id="files" name="files[]" multiple>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" data-loading-text="{{ __('Please wait...') }}">{{ __('Submit') }}</button>
    </form>
{% else %}
    <div class="table-responsive mb-3">
        <div class="text-right">
            <a href="{{ home_url('profile/ticket-supports/create') }}" class="btn btn-primary rounded btn-sm ">{{ __('Add Ticket Support') }}</a>
        </div>
    </div>
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">{{ __('Title') }}</th>
            <th scope="col">{{ __('Status') }}</th>
            <th scope="col">{{ __('Created at') }}</th>
            <th scope="col">{{ __('Action') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for index,ticketSupport in ticketSupports.data %}
            <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ ticketSupport.title }}</td>
                <td>{{ ticketSupport.status }}</td>
                <td>{{ ticketSupport.created_at }}</td>
                <td>
                    <a href="{{ url('profile/ticket-supports') }}?id={{ ticketSupport.id }}" class="btn btn-primary rounded btn-sm ">
                        {{ __('Edit') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mx-auto">
        <div class="pagination-area">
            <div class="pagination wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                {{ paginate_links(ticketSupports, 'theme::components.pagination') }}
            </div>
        </div>
    </div>
{% endif %}

<script>
    function ticket_support_success_handle(form, res) {
        if (res.status) {
            window.location.href = "{{ url('profile/ticket-supports') }}";
        }
    }

    $(document).ready(function() {
        $('.download-attachment').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: window.location.href = $(this).attr('href'),
                type: 'GET',
                success: function(response) {
                },
                error: function(xhr, status, error) {
                    alert(error);
                }
            });
        })
    })
</script>
