<form action="{{ url('ajax/ticket-support/submit') }}" method="post" class="form-ajax" data-success="ticket_support_success_handle" enctype="multipart/form-data">
    <input type="hidden" name="_token" value="{{ csrf_token() }}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="support_type_id">{{ __('Type') }}</label>
                <select name="support_type_id" id="support_type_id" class="form-control" required="">
                    {% for index,type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="title">{{ __('Title') }}</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="{{ __('Title') }}" required="">
            </div>
            <div class="form-group">
                <label for="content">{{ __('Content') }}</label>
                <textarea id="content" rows="9" style="width: 100%;" name="content" required=""></textarea>
            </div>
            <div class="form-group">
                <label for="files">{{ __('Attachments') }}</label>
                <input class="form-control" type="file" id="files" name="files[]" multiple>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" data-loading-text="{{ __('Please wait...') }}">{{ __('Submit') }}</button>
</form>

<script>
    function ticket_support_success_handle(form, res) {
        if (res.status) {
            window.location.href = "{{ url('profile/ticket-supports') }}";
        }
    }
</script>
