{% if input_get('id') %}
    {% include 'jwts::frontend.profile.ticket_support.edit' %}
{% else %}
    <div class="table-responsive mb-3">
        <div class="text-right">
            <a href="{{ home_url('profile/support-tickets/create') }}"
               class="btn btn-primary rounded btn-sm ">{{ __('Open Ticket') }}</a>
        </div>
    </div>
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ __('Type') }}</th>
                <th scope="col">{{ __('Title') }}</th>
                <th scope="col">{{ __('Status') }}</th>
                <th scope="col">{{ __('Created at') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for index,ticketSupport in ticketSupports.data %}
            <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ ticketSupport.type.name }}</td>
                <td>
                    <a href="{{ url('profile/support-tickets') }}?id={{ ticketSupport.id }}">
                        {{ ticketSupport.title }}
                    </a>
                </td>
                <td>{{ ticketSupport.status }}</td>
                <td>{{ ticketSupport.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mx-auto">
        <div class="pagination-area">
            <div class="pagination wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s"
                 style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                {{ paginate_links(ticketSupports, 'theme::components.pagination') }}
            </div>
        </div>
    </div>
{% endif %}

<script>
    function ticket_support_success_handle(form, res) {
        if (res.status) {
            window.location.href = "{{ url('profile/support-tickets') }}";
        }
    }
</script>
